@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
::placeholder {
  font-family: "Montserrat", sans-serif;
}
.left_div {
  background-color: #fff;
  padding: 20px;
  border-radius: 26px;
  -webkit-box-shadow: 0px 0px 23px -8px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 23px -8px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 23px -8px rgba(0, 0, 0, 0.18);
}
.MainDiv {
  height: 80vh;
  background-color: #fefefe;
  border-radius: 26px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.18);
}
.btns {
  font-size: 13px;
  color: #5379f6;
  text-decoration: none;
  padding: 8px 15px;
  border: 1px #5379f6 solid;
  margin-right: 12px;
  border-radius: 6px;
  background-color: #fff;
}
.female {
  height: 120px;
  width: 120px;
  border-radius: 18px;
  top: 20px;
  bottom: 0;
  left: 530px;
  z-index: 99;
  position: absolute;
  background-image: url(./images/female.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 23px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 23px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 23px -15px rgba(0, 0, 0, 0.75);
}
.male {
  height: 120px;
  width: 120px;
  border-radius: 18px;
  bottom: 70px;
  right: 110px;
  z-index: 99;
  position: absolute;
  background-image: url(./images/male.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 23px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 23px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 23px -15px rgba(0, 0, 0, 0.75);
}
.Acc {
  background-color: #5379f6;
  color: #fff;
  border: 1px solid#5379f6;
}
.Acc:hover {
  background-color: #0000;
  color: #5379f6;
  border: 1px solid#5379f6;
}
